<h1><%=@current_time%></h1>
<%@museums.each do |museum|%>
	<a href="<%=museum.url%>">
		<div>
			<h3><%=museum.name%></h3>
			</br>
			<h2 class="<%=museum.current_status%>"><%=museum.current_status%></h2>
			<br>
			<p><%=museum.today_schedule%></p>
		</div>
	</a>
<%end%>



